<div class="hero-head">
    <div class="box">
    <nav class="navbar">
      <div class="container">

        <div class="navbar-brand">
          <span class="navbar-item">
            <span class="icon">
              <a href="/user" class="button is-info is-light">
                <i class="fas fa-shower fa-2x"></i>
              </a>
            </span>
          </span>
        </div>

        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">

            {% if g.user.credentials == "admin" %}
            {% include 'navbar_admin.html' %}
            {% endif %}

            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span>Statystyki</span>
              </a>
            </span>

            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span>Mój profil</span>
              </a>
            </span>

            <span class="navbar-item">
              <a href="/login" class="button is-info">
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Wyloguj</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  </div>