<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">

            <div class="navbar-brand">
              <span class="navbar-item">
                <span class="icon">
                  <i class="fas fa-shower fa-2x"></i>
                </span>
              </span>
            </div>

            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">

                <span class="navbar-item">
                  <a class="button is-info is-inverted">
                    <span>Statystyki</span>
                  </a>
                </span>

                <span class="navbar-item">
                  <a class="button is-info is-inverted">
                    <span>Mój profil</span>
                  </a>
                </span>

                <span class="navbar-item">
                  <a href="/login" class="button is-info">
                    <span class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Wyloguj</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Witaj użytkowniku <b>{{g.user.username}}</b>
          </p>
          <p class="subtitle">
            Twoje ID to #{{g.user.id}}
          </p>
          <span class="tag is-light is-rounded">{{g.user.credentials}}</p>
        </div>
      </div>
    </section>
  </body>
</html>